/* ==================================================
   Menü Alanı
================================================== */
.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #222;

  .logo img {
    height: 40px;
  }

  .menu-icon {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }

  .menu-links {
    position: absolute;
    top: 3rem;
    right: 1rem;
    background-color: #333;
    padding: 1rem;
    display: none;
    flex-direction: column;

    a {
      color: #fff;
      text-decoration: none;
      padding: 0.5rem 0;

      &:hover {
        color: #f9ca24;
      }
    }

    &.active {
      display: flex;
    }
  }
}
