body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: "Fira Code", monospace;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  margin-bottom: 2rem;
}

header h1 {
  font-size: 2.5rem;
  color: #00ffc3;
  margin-bottom: 1rem;
}

nav a {
  color: #00bcd4;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #26dada;
  text-decoration: underline;
}

main {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

footer {
  color: #777;
  font-size: 0.9rem;
}
